<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lukefitness.lukegymbackend.dao.EmailTokenDao">
    <insert id="insertEmailToken" parameterType="com.lukefitness.lukegymbackend.models.EmailToken" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO email_tokens (user_id, user_type, username, token, expiration_date)
        VALUES (#{userId}, #{userType}, #{username}, #{token}, #{expirationDate})
    </insert>

    <select id="getEmailToken" parameterType="com.lukefitness.lukegymbackend.models.EmailToken" resultType="com.lukefitness.lukegymbackend.models.EmailToken">
        SELECT * FROM email_tokens WHERE user_type = #{userType} AND user_name = #{username} AND token = #{token}
    </select>

    <delete id="deleteEmailToken" >
        DELETE FROM email_tokens WHERE expiration_date &lt; NOW()
    </delete>
</mapper>