<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lukefitness.lukegymbackend.dao.TraineeDao">
    <insert id="traineeRegister" parameterType="com.lukefitness.lukegymbackend.models.Trainee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO trainee (username, password, email)
        VALUES (#{username}, #{password}, #{email})
    </insert>

    <select id="getTraineeByUsername" parameterType="String" resultType="com.lukefitness.lukegymbackend.models.Trainee">
        SELECT * FROM trainee WHERE username = #{username}
    </select>

    <select id="getTraineeById" parameterType="int" resultType="com.lukefitness.lukegymbackend.models.Trainee">
        SELECT * FROM trainee WHERE id = #{id}
    </select>

    <select id="getTraineeByEmail" parameterType="String" resultType="com.lukefitness.lukegymbackend.models.Trainee">
        SELECT * FROM trainee WHERE email = #{email}
    </select>

    <update id="traineeLogin" parameterType="com.lukefitness.lukegymbackend.models.Trainee">
        UPDATE trainee SET last_used_date = NOW() WHERE id = #{id}
    </update>

    <update id="setEmailVerified" parameterType="int">
        UPDATE trainee SET email_verified = true WHERE id = #{id}
    </update>

    <update id="setEmailUnverified" parameterType="int">
        UPDATE trainee SET email_verified = false WHERE id = #{id}
    </update>

    <update id="updateTraineePassword" parameterType="com.lukefitness.lukegymbackend.models.Trainee">
        UPDATE trainee SET password = #{password} WHERE id = #{id}
    </update>

    <update id="updateTraineeEmail" parameterType="com.lukefitness.lukegymbackend.models.Trainee">
        UPDATE trainee SET email = #{email} WHERE id = #{id}
    </update>

    <update id="setDeactivationDate">
        UPDATE trainee SET deactivation_date = NOW()+INTERVAL 3 DAY
        WHERE id = #{id}
    </update>

    <update id="deactivateTrainee" >
        UPDATE trainee SET is_active = false WHERE deactivation_date &lt; NOW()
    </update>

    <delete id="deleteNotActiveTrainees">
        DELETE FROM trainee WHERE is_active = false
        AND deactivation_date IS NOT NULL
        AND last_used_date &lt; NOW() - INTERVAL 2 YEAR
    </delete>

    <select id="getTraineesByPage" resultMap="TraineeResMap">
        SELECT * FROM trainee
        ORDER BY id
    </select>

    <select id="getTraineesBySearchUsername" parameterType="String" resultMap="TraineeResMap">
        SELECT * FROM trainee
        WHERE LOWER(username) LIKE LOWER(CONCAT('%', #{username}, '%'))
        ORDER BY id
    </select>

    <select id="getTraineesBySearchEmail" parameterType="String" resultMap="TraineeResMap">
        SELECT * FROM trainee
        WHERE LOWER(email) LIKE LOWER(CONCAT('%', #{email}, '%'))
        ORDER BY id
    </select>

    <resultMap id="TraineeResMap" type="com.lukefitness.lukegymbackend.models.response.register.TraineeResponse">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="email_verified" column="email_verified"/>
    </resultMap>

</mapper>