<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lukefitness.lukegymbackend.dao.TraineeFitnessGoalDao">
  <resultMap id="BaseResultMap" type="com.lukefitness.lukegymbackend.models.TraineeFitnessGoal">
    <id column="trainee_id" jdbcType="INTEGER" property="traineeId" />
    <result column="achieve_by_date" jdbcType="TIMESTAMP" property="achieveByDate" />
    <result column="job_activity_level" jdbcType="VARCHAR" property="jobActivityLevel" />
    <result column="exercise_days" jdbcType="VARCHAR" property="exerciseDays" />
    <result column="preferred_exercise_intensity" jdbcType="CHAR" property="preferredExerciseIntensity" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="preferred_exercise_time" jdbcType="CHAR" property="preferredExerciseTime" />
    <result column="number_1_goal" jdbcType="LONGVARCHAR" property="number1Goal" />
    <result column="other_goals" jdbcType="LONGVARCHAR" property="otherGoals" />
    <result column="success_plan" jdbcType="LONGVARCHAR" property="successPlan" />
    <result column="current_exercise_plan" jdbcType="LONGVARCHAR" property="currentExercisePlan" />
    <result column="fitness_interests" jdbcType="LONGVARCHAR" property="fitnessInterests" />
    <result column="disliked_fitness_activities" jdbcType="LONGVARCHAR" property="dislikedFitnessActivities" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from trainee_fitness_goals
    where trainee_id = #{traineeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lukefitness.lukegymbackend.models.TraineeFitnessGoal">
    insert into trainee_fitness_goals (trainee_id, achieve_by_date, job_activity_level, 
      exercise_days, preferred_exercise_intensity, 
      created_at, updated_at, preferred_exercise_time, 
      number_1_goal, other_goals, success_plan, 
      current_exercise_plan, fitness_interests, 
      disliked_fitness_activities)
    values (#{traineeId,jdbcType=INTEGER}, #{achieveByDate,jdbcType=TIMESTAMP}, #{jobActivityLevel,jdbcType=VARCHAR}, 
      #{exerciseDays,jdbcType=VARCHAR}, #{preferredExerciseIntensity,jdbcType=CHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{preferredExerciseTime,jdbcType=CHAR}, 
      #{number1Goal,jdbcType=LONGVARCHAR}, #{otherGoals,jdbcType=LONGVARCHAR}, #{successPlan,jdbcType=LONGVARCHAR}, 
      #{currentExercisePlan,jdbcType=LONGVARCHAR}, #{fitnessInterests,jdbcType=LONGVARCHAR}, 
      #{dislikedFitnessActivities,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lukefitness.lukegymbackend.models.TraineeFitnessGoal">
    update trainee_fitness_goals
    set achieve_by_date = #{achieveByDate,jdbcType=TIMESTAMP},
      job_activity_level = #{jobActivityLevel,jdbcType=VARCHAR},
      exercise_days = #{exerciseDays,jdbcType=VARCHAR},
      preferred_exercise_intensity = #{preferredExerciseIntensity,jdbcType=CHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      preferred_exercise_time = #{preferredExerciseTime,jdbcType=CHAR},
      number_1_goal = #{number1Goal,jdbcType=LONGVARCHAR},
      other_goals = #{otherGoals,jdbcType=LONGVARCHAR},
      success_plan = #{successPlan,jdbcType=LONGVARCHAR},
      current_exercise_plan = #{currentExercisePlan,jdbcType=LONGVARCHAR},
      fitness_interests = #{fitnessInterests,jdbcType=LONGVARCHAR},
      disliked_fitness_activities = #{dislikedFitnessActivities,jdbcType=LONGVARCHAR}
    where trainee_id = #{traineeId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select trainee_id, achieve_by_date, job_activity_level, exercise_days, preferred_exercise_intensity, 
    created_at, updated_at, preferred_exercise_time, number_1_goal, other_goals, success_plan, 
    current_exercise_plan, fitness_interests, disliked_fitness_activities
    from trainee_fitness_goals
    where trainee_id = #{traineeId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select trainee_id, achieve_by_date, job_activity_level, exercise_days, preferred_exercise_intensity, 
    created_at, updated_at, preferred_exercise_time, number_1_goal, other_goals, success_plan, 
    current_exercise_plan, fitness_interests, disliked_fitness_activities
    from trainee_fitness_goals
  </select>
</mapper>