<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lukefitness.lukegymbackend.dao.TrainerDao">
    <insert id="registerTrainer" parameterType="com.lukefitness.lukegymbackend.models.Trainer" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO trainer (username, password, email, is_admin)
        VALUES (#{username}, #{password}, #{email}, #{is_admin})
    </insert>

    <select id="getAllTrainers" resultMap="TrainerResultMap">
        SELECT * FROM trainer
        WHERE is_admin = false
        AND is_active = true
        ORDER BY username
    </select>

    <select id="getTrainerByName" parameterType="String" resultType="com.lukefitness.lukegymbackend.models.Trainer">
        SELECT * FROM trainer WHERE username = #{username}
    </select>

    <select id="getTrainerById" parameterType="int" resultType="com.lukefitness.lukegymbackend.models.Trainer">
        SELECT * FROM trainer WHERE id = #{id}
    </select>

    <select id="getTrainerByEmail" parameterType="String" resultType="com.lukefitness.lukegymbackend.models.Trainer">
        SELECT * FROM trainer WHERE email = #{email}
    </select>

    <select id="searchTrainerByUsername" resultMap="TrainerResultMap">
        SELECT * FROM trainer
        WHERE is_active = true
        AND is_admin = false
        AND LOWER(username) LIKE LOWER(CONCAT('%', #{username}, '%'))
        ORDER BY username
    </select>

    <select id="searchTrainerByEmail" resultMap="TrainerResultMap">
        SELECT * FROM trainer
        WHERE is_active = true
        AND is_admin = false
        AND LOWER(email) LIKE LOWER(CONCAT('%', #{email}, '%'))
        ORDER BY username
    </select>

    <update id="trainerLogin" parameterType="com.lukefitness.lukegymbackend.models.Trainer">
        UPDATE trainer SET last_used_date = NOW() WHERE id = #{id}
    </update>

    <update id="setEmailVerified" parameterType="int">
        UPDATE trainer SET email_verified = true WHERE id = #{id}
    </update>

    <update id="setEmailUnverified" parameterType="int">
        UPDATE trainer SET email_verified = false WHERE id = #{id}
    </update>

    <update id="updateTrainerUsername">
        UPDATE trainer SET username = #{username} WHERE id = #{id}
    </update>

    <update id="updateTrainerPassword" parameterType="com.lukefitness.lukegymbackend.models.Trainer">
        UPDATE trainer SET password = #{password} WHERE id = #{id}
    </update>

    <update id="updateTrainerEmail" parameterType="com.lukefitness.lukegymbackend.models.Trainer">
        UPDATE trainer SET email = #{email} WHERE id = #{id}
    </update>

    <update id="setDeactivationDate">
        UPDATE trainer SET deactivation_date = NOW()+INTERVAL 3 DAY
        WHERE id = #{id}
    </update>

    <update id="deactivateTrainer">
        UPDATE trainer SET is_active = false WHERE deactivation_date &lt; NOW()
    </update>

    <delete id="deleteNotActiveTrainers">
        DELETE FROM trainer WHERE is_active = false
        AND deactivation_date IS NOT NULL
        AND last_used_date &lt; NOW() - INTERVAL 2 YEAR
    </delete>

    <resultMap id="TrainerResultMap" type="com.lukefitness.lukegymbackend.dto.response.query.SimpleUserQueryResponse">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="email_verified" column="email_verified"/>
    </resultMap>
</mapper>