<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lukefitness.lukegymbackend.dao.TraineeHealthMetricDao">
  <resultMap id="BaseResultMap" type="com.lukefitness.lukegymbackend.models.TraineeHealthMetric">
    <id column="trainee_id" jdbcType="INTEGER" property="traineeId" />
    <result column="is_exercising" jdbcType="BIT" property="isExercising" />
    <result column="exercise_frequency" jdbcType="INTEGER" property="exerciseFrequency" />
    <result column="exercise_duration" jdbcType="INTEGER" property="exerciseDuration" />
    <result column="exercise_intensity" jdbcType="CHAR" property="exerciseIntensity" />
    <result column="resting_heart_rate" jdbcType="INTEGER" property="restingHeartRate" />
    <result column="waist_girth" jdbcType="DECIMAL" property="waistGirth" />
    <result column="wh_ratio" jdbcType="DECIMAL" property="whRatio" />
    <result column="resting_blood_pressure" jdbcType="VARCHAR" property="restingBloodPressure" />
    <result column="hip_girth" jdbcType="DECIMAL" property="hipGirth" />
    <result column="bmi" jdbcType="DECIMAL" property="bmi" />
    <result column="apss_stage_1_result" jdbcType="VARCHAR" property="apssStage1Result" />
    <result column="is_pregnant" jdbcType="BIT" property="isPregnant" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="job_acitive_level" jdbcType="VARCHAR" property="jobAcitiveLevel" />
    <result column="day_active_level" jdbcType="VARCHAR" property="dayActiveLevel" />
    <result column="sleep_hours" jdbcType="VARCHAR" property="sleepHours" />
    <result column="physically_restricted_frequency" jdbcType="VARCHAR" property="physicallyRestrictedFrequency" />
    <result column="emotional_affected_frequency" jdbcType="VARCHAR" property="emotionalAffectedFrequency" />
    <result column="nutrition_consultation_required" jdbcType="BIT" property="nutritionConsultationRequired" />
    <result column="apss_result_date" jdbcType="TIMESTAMP" property="apssResultDate" />
    <result column="pregnancy_details" jdbcType="LONGVARCHAR" property="pregnancyDetails" />
    <result column="medication" jdbcType="LONGVARCHAR" property="medication" />
    <result column="diet_description" jdbcType="LONGVARCHAR" property="dietDescription" />
    <result column="medical_concern" jdbcType="LONGVARCHAR" property="medicalConcern" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from trainee_health_metrics
    where trainee_id = #{traineeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lukefitness.lukegymbackend.models.TraineeHealthMetric">
    insert into trainee_health_metrics (trainee_id, is_exercising, exercise_frequency, 
      exercise_duration, exercise_intensity, resting_heart_rate, 
      waist_girth, wh_ratio, resting_blood_pressure, 
      hip_girth, bmi, apss_stage_1_result, 
      is_pregnant, created_at, updated_at, 
      job_acitive_level, day_active_level, sleep_hours, 
      physically_restricted_frequency, emotional_affected_frequency, 
      nutrition_consultation_required, apss_result_date, 
      pregnancy_details, medication, diet_description, 
      medical_concern)
    values (#{traineeId,jdbcType=INTEGER}, #{isExercising,jdbcType=BIT}, #{exerciseFrequency,jdbcType=INTEGER}, 
      #{exerciseDuration,jdbcType=INTEGER}, #{exerciseIntensity,jdbcType=CHAR}, #{restingHeartRate,jdbcType=INTEGER}, 
      #{waistGirth,jdbcType=DECIMAL}, #{whRatio,jdbcType=DECIMAL}, #{restingBloodPressure,jdbcType=VARCHAR}, 
      #{hipGirth,jdbcType=DECIMAL}, #{bmi,jdbcType=DECIMAL}, #{apssStage1Result,jdbcType=VARCHAR}, 
      #{isPregnant,jdbcType=BIT}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{jobAcitiveLevel,jdbcType=VARCHAR}, #{dayActiveLevel,jdbcType=VARCHAR}, #{sleepHours,jdbcType=VARCHAR}, 
      #{physicallyRestrictedFrequency,jdbcType=VARCHAR}, #{emotionalAffectedFrequency,jdbcType=VARCHAR}, 
      #{nutritionConsultationRequired,jdbcType=BIT}, #{apssResultDate,jdbcType=TIMESTAMP}, 
      #{pregnancyDetails,jdbcType=LONGVARCHAR}, #{medication,jdbcType=LONGVARCHAR}, #{dietDescription,jdbcType=LONGVARCHAR}, 
      #{medicalConcern,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lukefitness.lukegymbackend.models.TraineeHealthMetric">
    update trainee_health_metrics
    set is_exercising = #{isExercising,jdbcType=BIT},
      exercise_frequency = #{exerciseFrequency,jdbcType=INTEGER},
      exercise_duration = #{exerciseDuration,jdbcType=INTEGER},
      exercise_intensity = #{exerciseIntensity,jdbcType=CHAR},
      resting_heart_rate = #{restingHeartRate,jdbcType=INTEGER},
      waist_girth = #{waistGirth,jdbcType=DECIMAL},
      wh_ratio = #{whRatio,jdbcType=DECIMAL},
      resting_blood_pressure = #{restingBloodPressure,jdbcType=VARCHAR},
      hip_girth = #{hipGirth,jdbcType=DECIMAL},
      bmi = #{bmi,jdbcType=DECIMAL},
      apss_stage_1_result = #{apssStage1Result,jdbcType=VARCHAR},
      is_pregnant = #{isPregnant,jdbcType=BIT},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      job_acitive_level = #{jobAcitiveLevel,jdbcType=VARCHAR},
      day_active_level = #{dayActiveLevel,jdbcType=VARCHAR},
      sleep_hours = #{sleepHours,jdbcType=VARCHAR},
      physically_restricted_frequency = #{physicallyRestrictedFrequency,jdbcType=VARCHAR},
      emotional_affected_frequency = #{emotionalAffectedFrequency,jdbcType=VARCHAR},
      nutrition_consultation_required = #{nutritionConsultationRequired,jdbcType=BIT},
      apss_result_date = #{apssResultDate,jdbcType=TIMESTAMP},
      pregnancy_details = #{pregnancyDetails,jdbcType=LONGVARCHAR},
      medication = #{medication,jdbcType=LONGVARCHAR},
      diet_description = #{dietDescription,jdbcType=LONGVARCHAR},
      medical_concern = #{medicalConcern,jdbcType=LONGVARCHAR}
    where trainee_id = #{traineeId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select trainee_id, is_exercising, exercise_frequency, exercise_duration, exercise_intensity, 
    resting_heart_rate, waist_girth, wh_ratio, resting_blood_pressure, hip_girth, bmi, 
    apss_stage_1_result, is_pregnant, created_at, updated_at, job_acitive_level, day_active_level, 
    sleep_hours, physically_restricted_frequency, emotional_affected_frequency, nutrition_consultation_required, 
    apss_result_date, pregnancy_details, medication, diet_description, medical_concern
    from trainee_health_metrics
    where trainee_id = #{traineeId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select trainee_id, is_exercising, exercise_frequency, exercise_duration, exercise_intensity, 
    resting_heart_rate, waist_girth, wh_ratio, resting_blood_pressure, hip_girth, bmi, 
    apss_stage_1_result, is_pregnant, created_at, updated_at, job_acitive_level, day_active_level, 
    sleep_hours, physically_restricted_frequency, emotional_affected_frequency, nutrition_consultation_required, 
    apss_result_date, pregnancy_details, medication, diet_description, medical_concern
    from trainee_health_metrics
  </select>
</mapper>