<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lukefitness.lukegymbackend.dao.TrainerDao">
    <insert id="registerTrainer" parameterType="com.lukefitness.lukegymbackend.models.Trainer" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO trainer (username, password, email, is_admin)
        VALUES (#{username}, #{password}, #{email}, #{is_admin})
    </insert>

    <select id="getTrainerByName" parameterType="String" resultType="com.lukefitness.lukegymbackend.models.Trainer">
        SELECT * FROM trainer WHERE username = #{username}
    </select>

    <select id="trainerLogin" parameterType="String" resultType="com.lukefitness.lukegymbackend.models.Trainer">
        SELECT * FROM trainer WHERE username = #{username} AND password = #{password}
    </select>

    <select id="getTrainerById" parameterType="int" resultType="com.lukefitness.lukegymbackend.models.Trainer">
        SELECT * FROM trainer WHERE id = #{id}
    </select>

    <update id="setEmailVerified" parameterType="int">
        UPDATE trainer SET email_verified = true WHERE id = #{id}
    </update>

    <update id="setEmailUnverified" parameterType="int">
        UPDATE trainer SET email_verified = false WHERE id = #{id}
    </update>

    <select id="getTrainerByEmail" parameterType="String" resultType="com.lukefitness.lukegymbackend.models.Trainer">
        SELECT * FROM trainer WHERE email = #{email}
    </select>

    <update id="updateTrainerPassword" parameterType="com.lukefitness.lukegymbackend.models.Trainer">
        UPDATE trainer SET password = #{password} WHERE id = #{id}
    </update>

    <update id="updateTrainerEmail" parameterType="com.lukefitness.lukegymbackend.models.Trainer">
        UPDATE trainer SET email = #{email} WHERE id = #{id}
    </update>
</mapper>